<h1>Cart</h1>

<div id="cart">

  {{#if courses.length}}
  <table class="responsive-table">

    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>

      {{#each courses}}
      <tr>
        <td>{{title}}</td>
        <td>{{price}}</td>
        <td>{{count}}</td>
        <td>
          <button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
        </td>
      </tr>
      {{/each}}

    </tbody>

  </table>

  <p>
    <strong>Total price: </strong>
    <span class="price">
      {{price}}
    </span>
  </p>

  <form action="/orders" method="POST">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Order
    </button>
  </form>

  {{else}}

  <p>Cart is empty</p>

  {{/if}}

</div>
