<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
  <div class="input-field ">
    <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
    <label for="title">Course Title</label>
    <span class="helper-text" data-error="Input Title"></span>
  </div>

  <div class="input-field ">
    <input id="price" name="price" type="number" class="validate" required min="1" value="{{course.price}}">
    <label for="price">Course Price</label>
    <span class="helper-text" data-error="Input Price"></span>
  </div>


  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
    <label for="img">Course Image</label>
    <span class="helper-text" data-error="Input url of Image"></span>
  </div>

  <input type="hidden" name="id" value="{{course._id}}">

  <button type="submit" class="btn btn-primary">
    Edit course
  </button>
</form>

<form action="/courses/delete" method="POST">
  <input type="hidden" name="id" value="{{course.id}}">
  <button type="submit">
    <i class="small material-icons icon-delete">
      delete
    </i>
  </button>
</form>
